@import "tailwindcss";

:root {
  --background: #f4f5ff;
  --primary: #1938fe;
  --secondary: #fe696e;
  --accent: #feb342;

  --text: #00051d;

  --error: #e63946;
  --success: #2a9d8f;

  --mpesa: #39b54a;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-text: var(--text);

  --color-error: var(--error);
  --color-success: var(--success);

  --color-mpesa: var(--mpesa);

  --body-font: var(--font-sora), sans-serif;
  --heading-font: var(--font-grotesk), sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sora), sans-serif;
  padding: 1rem 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-grotesk), sans-serif;
}
