@import "tailwindcss";

:root {
  --background: #faf9fd;
  --primary: #442ed1;
  --secondary: #9c90ec;
  --accent: #6652ea;

  --text: #0a0818;

  --error: #e63946;
  --success: #2a9d8f;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-text: var(--text);

  --color-error: var(--error);
  --color-success: var(--success);

  --body-font: var(--font-sora), sans-serif;
  --heading-font: var(--font-grotesk), sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sora), sans-serif;
  padding: 1rem 1rem;
}

h1,
h2 {
  font-family: var(--font-grotesk), sans-serif;
}
